<!--<div class="hidden" ng-class="{ 'hidden': state.signedIn, 'visible': state.signedIn !== null && !state.signedIn }">
  <span id="signinButton">
    <span
      class="g-signin"
      data-callback="signInCallback"
      data-clientid="{{ googleClientId }}"
      data-cookiepolicy="single_host_origin"
      data-requestvisibleactions="http://schemas.google.com/AddActivity http://schemas.google.com/CreateActivity"
      data-scope="https://www.googleapis.com/auth/plus.login">
    </span>
  </span>
</div>
-->
<div ng-show="state.signedIn">
  Signed in!
</div>

<span style="display: none;" id="signinButton"></span>